/* General */
h1{
    text-align: center;
    color: lightgray;
    font-size: 2vmax;
    margin: 0 0 2vmin 0;
    padding: 1vmin;
}
body{
    font-family: 'Luckiest Guy', cursive;
    background-color: #1A1124;
    padding: 2vmin;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.container{
    display: grid;
    grid-template-columns: 30% 35% 35%;
    grid-template-rows: 40% 50% 10%;
    min-height: 70vh;
    max-height: 90vh;
    gap: 1.5vmin;
    margin-top: 2vmin;
}

/* Text */
.altText{
    text-align: center;
    color: lightgray;
    font-size: 1vmax;
}
.upgrades-section .altText{
    font-size: 0.8vmax;
}
.ninja_section .altText{
    font-size: 0.8vmax;
}

/* Shared Button Styles */
button, .ninja_button,
#speed_upgrade_button,
#stealth_upgrade_button,
#tier1Button,
#tier2Button,
#tier3Button,
#tier4Button,
#tier5Button{
    background: #E32C2C;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
    font-size: 0.8vmax;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
    color: white;
    cursor: pointer;
    padding: 0.6vmin 1.2vmin;
    min-width: 80px;
}
#gainShadow{
    block-size: 5vmin;
    cursor: pointer;
}
/* Ghosted and Maxed Button States */
.ninja_button.ghosted,
#speed_upgrade_button.ghosted,
#speed_upgrade_button.maxed,
#stealth_upgrade_button.ghosted,
#stealth_upgrade_button.maxed,
#prestigeButton.maxed,
#tier1Button.ghosted,
#tier1Button.maxed,
#tier2Button.ghosted,
#tier2Button.maxed,
#tier3Button.ghosted,
#tier3Button.maxed,
#tier4Button.ghosted,
#tier4Button.maxed,
#tier5Button.ghosted,
#tier5Button.maxed {
    opacity: 0.5;
    cursor: not-allowed;
    background-color: #C22525;
}

/* General Box Styles */
.box,
.upgrades_box,
.ninjas_box,
.phantoms_box,
.tiers-box{
    font-size: 1vmax;
    background-color: #2C1A38;
    border: 1px solid black;
    border-radius: 1vmin;
    padding: 1vmin;
    box-sizing: border-box;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
    text-align: center;
    color: #D4AF37;
    overflow: hidden;
}
/* Shadows box */
.box{
    width: 25vw;
    height: 25vw;
    max-width: 300px;
    max-height: 300px;
    margin: 2vmin auto;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    font-size: 1.2vmax;
}

/* Achievements List */
.achievements-container{
    position: absolute;
    top: 1vmin;
    left: 1vmin;
    z-index: 10;
}
#achievements_button{
    background: #E32C2C;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0.5vmin 1vmin;
    font-size: 0.8vmax;
    color: white;
    cursor: pointer;
}
#achievements{
    display: none;
    position: absolute;
    top: 4vmin;
    max-height: 40vh;
    overflow-y: auto;
    background-color: #2C1A38;
    border: 1px solid black;
    border-radius: 1vmin;
    padding: 1vmin;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
    color: #D4AF37;
    font-size: 0.8vmax;
}
#achievements.active{
    display: block;
}
.achievement_item {
    margin-bottom: 1vmin;
    padding: 0.5vmin;
    border-radius: 0.5vmin;
    background-color: #1A1124;
}
.achievement_item.completed {
    background-color: #3A2A48;
}
.achievement_item p {
    display: inline; /* Does not start new line */
    margin: 0;
    font-weight: bold;
    color: #D4AF37;
}

/* Achievement Popup */
#achievement-popup {
    position: fixed;
    top: 55%;
    left: 48%;
    transform: translate(-50%, -50%);
    background-color: #2C1A38;
    border: 1px solid black;
    border-radius: 1vmin;
    padding: 1.2vmin;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
    color: #D4AF37;
    font-size: 1vmax;
    text-align: center;
    opacity: 0;
    z-index: 100; /* To appear on top */
}
#achievement-popup.active {
    animation: popup 5s ease-out forwards; /* Pop-up length is 5 seconds */
}

/* Pop-up animation */
@keyframes popup {
    0% {opacity: 0;transform: translate(-50%, -50%) scale(0.8);}
    20% {opacity: 1;transform: translate(-50%, -50%) scale(1);}
    80% {opacity: 1;transform: translate(-50%, -50%) scale(1);}
    100% {opacity: 0;transform: translate(-50%, -50%) scale(0.8);}
}

/* Desktop Layout */
.upgrades-section{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
.resources-section {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
.ninjas-section {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}
.phantoms_box{
    width: 25vw;
    height: 20vw;
    max-width: 300px;
    max-height: 250px;
    margin: 1vmin auto;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    align-self: flex-end;
}
.tiers-box{
    width: 35vw;
    height: 30vw;
    max-width: 450px;
    max-height: 400px;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    font-size: 1vmax;
    margin: 0 1vmin 1vmin 1vmin;
    align-self: flex-end;
}
.save_game_section{
    margin: 1vmin auto;
    text-align: center;
    max-width: 25vw;
    min-width: 150px;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

/* Upgrades */
.upgrades_box{
    width: 35vw;
    height: 35vw;
    max-width: 450px;
    max-height: 450px;
    font-size: 1vmax;
    margin: 0 1vmin 1vmin 1vmin;
    padding: 1vmin;
    color: white;
}
.upgrade_section{
    padding: 0.5vmin;
    text-align: center;
    color: #D4AF37;
    border-radius: 1vmin;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
    border: 1px solid black;
    margin-bottom: 1vmin;
    background-color: #1A1124;
}
#speed_upgrade_button, #stealth_upgrade_button{
    padding: 0.4vmin 0.8vmin;
    font-size: 0.8vmax;
}

/* Ninjas */
.ninjas_box{
    width: 40vw;
    height: 75vw;
    max-width: 500px;
    max-height: 800px;
    font-size: 1vmax;
    padding: 1vmin;
    color: white;
}
.ninja_section{
    width: calc(50% - 1vmin); /* Dynamically calculate width */
    padding: 1vmin;
    text-align: center;
    color: #D4AF37;
    border-radius: 1vmin;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
    border: 1px solid black;
    margin-bottom: 2vmin;
    background-color: #1A1124;
    box-sizing: border-box;
}
.ninja_grid{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5vmin;
    justify-content: space-between;
    max-height: 100%;
}
.ninja_png{
    width: 15vmin;
    height: 15vmin;
    max-width: 150px;
    max-height: 150px;
}
/* Pulse animation when hiring ninjas */
@keyframes pulse {
    0% {transform: scale(1);box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);}
    50% {transform: scale(1.05);box-shadow: 0 0 20px rgba(227, 44, 44, 0.5);}
    100% {transform: scale(1);box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);}
}
.ninja_section.pulse {
    animation: pulse 0.5s ease-in-out;
}
.ninja_button {
    padding: 0.8vmin 1.6vmin;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

/* Tiers */
.prestige_section{
    flex: 0 0 calc(50% - 0.5vmin);
    width: 10vw;
    height: auto;
    padding: 1vmin;
    text-align: center;
    font-size: 0.8vmax;
    color: #D4AF37;
    border-radius: 1vmin;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
    border: 1px solid black;
    margin-bottom: 1vmin;
    background-color: #1A1124;
    box-sizing: border-box;
}
#progressText{
    text-align: center;
    color: lightgray;
    font-size: 1vmax;
}
.tiers{
    margin-top: 1vmin;
    width: 100%;
    color: lightgray;
}
.tiers-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1vmin;
    gap: 0.8vmin;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    font-size: 0.8vmax;
    max-height: 100%;
}
.tiers-grid .prestige_section:nth-child(5) {
    grid-column: 1 / -1;
    width: 14vw;
    margin: 1vmin auto 0 auto;
    gap: 0.8vmin;
}
#tier1Button, #tier2Button, #tier3Button, #tier4Button, #tier5Button{
    border: none;
    padding: 0.3vmin 0.6vmin;
    margin: 0.5vmin;
    border-radius: 0.3vmin;
}

#progressBox{
    width: 100%;
    height: 2vmin;
    background-color: #2C1A38;
    border-radius: 0.3vmin;
    overflow: hidden;
    margin: 1vmin 0;
}
#progressBar{
    height: 100%;
    background-color: #E32C2C;
    border: 1px solid black;
    width: 0;
    transition: width 0.3s ease;
}

/* Save Game Section */
#saveGameButton{
    padding: 1vmin 2vmin;
    font-size: 1.2vmax;
}
#saveGameText{
    display: none;
    color: #D4AF37;
    font-family: 'Luckiest Guy', cursive;
    font-size: 1.2vmax;
    margin-top: 0.5vmin;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
#saveGameText.show {
    display: block;
    opacity: 1;
}

/* Media for Mobile Devices */
@media (max-width: 768px){
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-template-columns: none;
        grid-template-rows: none;
        max-height: none;
    }
    .box, .upgrades_box,
    .ninjas_box, .phantoms_box,
    .tiers-box, .save_game_section{
        width: 100%;
        max-width: 400px;
        margin: 10px auto;
        position: static;
        transform: none;
        height: auto;
        max-height: none;
        overflow: visible;
    }
    .resources-section {
        position: static;
        transform: none;
        display: block;
    }
    .tiers-grid {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 350px;
        width: 100%;
    }
    .tiers-grid .prestige_section:nth-child(5) {
        width: 100%;
        max-width: 350px;
        margin: 10px auto;
    }
    h1{
        font-size: 25px;
    }
    .altText, #progressText{
        font-size: 14px;
    }
    button, .ninja_button,
    #speed_upgrade_button,
    #stealth_upgrade_button,
    #tier1Button, #tier2Button, #tier3Button, #tier4Button, #tier5Button {
        padding: 3px 6px;
        font-size: 10px;
    }
    .ninja_section, .upgrade_section, .resources-section {
        width: 100%;
        max-width: 350px;
        padding: 10px;
        margin: 10px auto;
        position: static;
    }
    .ninja_section{
        /* Stacking ninjas vertically on mobile */
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        flex: 1 1 100%;
        gap: 10px;
    }
    .ninja_grid{
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .prestige_section{
        /* Stacking tiers vertically on mobile */
        flex: 1 1 100%;
        width: 100%;
        max-width: 350px;
        display: block;
        margin: 10px auto;
    }
    .ninja_png{
        width: 100px;
        height: 100px;
    }
    .achievements-container{
        position: static;
        text-align: center;
        margin-top: 20px;
    }
    #achievements{
        position: static;
        width: 250px;
        max-height: 300px;
        max-width: 350px;
        font-size: 12px;
    }
    #achievements_button{
        font-size: 14px;
        padding: 4px 8px;
    }
    #achievement-popup{
        font-size: 16px;
        padding: 10px;
    }
    #saveConfirmation {
        font-size: 14px;
    }
}