/* General */
h1{
    text-align: center;
    color: lightgray;
    font-size: 35px;
}
body{
    font-family: 'Luckiest Guy', cursive;
    background-color: #1A1124;
}
.altText{
    text-align: center;
    color: lightgray;
    font-size: 18px;
}
button{
    background: #E32C2C;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
    font-size: 15px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
    color: white;
}
#gainShadow{
    block-size: 40px;
    cursor: pointer;
}
.box{
    width: 250px;
    height: 260px;
    font-size: 20px;
    background-color: #2C1A38;
    border: 1px solid black;
    border-radius: 10px;
    margin: 80px auto;
    padding: 8px 16px;
    box-sizing: border-box;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
    text-align: center;
    color: #D4AF37;
}
/* Upgrades */
.upgrades_box{
    width: 200px;
    height: auto;
    font-size: 20px;
    background-color: #2C1A38;
    border: 1px solid black;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
    text-align: center;
    position: absolute;
    top: 100px;
    left: 400px;
    display: block;
    color: white;
}
.upgrade_section{
    padding: 10px;
    text-align: center;
    color: #D4AF37;
    border-radius: 10px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
    border: 1px solid black;
    margin-bottom: 20px;
    background-color: #1A1124;
}
#speed_upgrade_button, #stealth_upgrade_button{
    padding: 8px 16px;
    background-color: #E32C2C;
    color: lightgray;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
#speed_upgrade_button:hover:not(.ghosted), #stealth_upgrade_button:hover:not(.ghosted) {
    background-color: #E32C2C;
}
#speed_upgrade_button.ghosted, #speed_upgrade_button.maxed,
#stealth_upgrade_button.ghosted, #stealth_upgrade_button.maxed {
    opacity: 0.5;
    cursor: not-allowed;
    background-color: #C22525;
}

/* Ninjas */
.ninjas_box{
    width: 525px;
    height: auto;
    font-size: 20px;
    background-color: #2C1A38;
    border: 1px solid black;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
    text-align: center;
    position: absolute;
    top: 100px;
    right: 100px;
    display: block;
    color: white;
}
.ninja_section{
    width: calc(50% - 10px);
    padding: 10px;
    text-align: center;
    color: #D4AF37;
    border-radius: 10px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
    border: 1px solid black;
    margin-bottom: 20px;
    background-color: #1A1124;
    box-sizing: border-box;
}
.ninja_grid{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}
.ninja_png{
    width: 150px;
    height: 150px;
}
.ninja_button {
    padding: 8px 16px;
    background-color: #E32C2C;
    color: lightgray;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.ninja_button.ghosted {
    opacity: 0.5;
    cursor: not-allowed;
    background-color: #C22525;
}
.ninja_button:hover:not(.ghosted) {
    background-color: #E32C2C;
}

/* Prestige */
.prestige_section{
    width: 250px;
    height: auto;
    font-size: 20px;
    color: #D4AF37;
    background-color: #2C1A38;
    border: 1px solid black;
    border-radius: 10px;
    margin: 20px auto;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
    text-align: center;
}
#progressText{
    text-align: center;
    color: lightgray;
    font-size: 15px;
}
.tiers{
    margin-top: 10px;
}
#tier1Button, #tier2Button, #tier3Button, #tier4Button, #tier5Button{
    background-color: #E32C2C;
    color: lightgray;
    border: none;
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
    border-radius: 3px;
}
#prestigeButton.maxed, #tier1Button.ghosted, #tier1Button.maxed,
#tier2Button.ghosted, #tier2Button.maxed, #tier3Button.ghosted, #tier3Button.maxed,
#tier4Button.ghosted, #tier4Button.maxed, #tier5Button.ghosted, #tier5Button.maxed {
    opacity: 0.5;
    cursor: not-allowed;
    background-color: #C22525;
}
#tier1Button:hover:not(.ghosted), #tier2Button:hover:not(.ghosted),
#tier3Button:hover:not(.ghosted), #tier4Button:hover:not(.ghosted), #tier5Button:hover:not(.ghosted){
    background-color: #E32C2C;
}
#progressBox{
    width: 100%;
    height: 20px;
    background-color: #2C1A38;
    border-radius: 3px;
    overflow: hidden;
    margin: 10px 0;
}
#progressBar{
    height: 100%;
    background-color: #E32C2C;
    border: 1px solid black;
    width: 0;
    transition: width 0.3s ease;
}