/* General */
h1{
    text-align: center;
    color: lightgray;
    font-size: 33px;
    margin: 0 0 20px 0;
    padding: 8px;
}
body{
    font-family: 'Luckiest Guy', cursive;
    background-color: #1A1124;
    padding: 20px;
}
.altText{
    text-align: center;
    color: lightgray;
    font-size: 18px;
}
.upgrades-section .altText{
    font-size: 14px;
}
.ninja_section .altText{
    font-size: 16px;
}
button{
    background: #E32C2C;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
    font-size: 15px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
    color: white;
    cursor: pointer;
}
#gainShadow{
    block-size: 50px;
    cursor: pointer;
}
.box{
    width: 300px;
    height: 300px;
    font-size: 22px;
    background-color: #2C1A38;
    border: 1px solid black;
    border-radius: 10px;
    margin: 20px auto;
    padding: 8px 16px;
    box-sizing: border-box;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
    text-align: center;
    color: #D4AF37;
}
.container{
    display: block;
    position: relative;
    min-height: 460px;
    margin-top: 0;
}
/* Desktop Layout */
.upgrades-section{
    position: absolute;
    top: 0;
    left: 150px;
}
.resources-section {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
}
.ninjas-section {
    position: absolute;
    top: 0;
    right: 0;
}
.phantoms_box{
    width: 300px;
    height: 230px;
    top: 470px;
    font-size: 22px;
    color: #D4AF37;
    background-color: #2C1A38;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
    text-align: center;
    margin: 10px auto;
}
.tiers-box{
    position: absolute;
    width: 450px;
    height: 440px;
    top: 400px;
    left: 170px;
    font-size: 18px;
    color: #D4AF37;
    background-color: #2C1A38;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
    text-align: center;
}

/* Upgrades */
.upgrades_box{
    width: 450px;
    height: 390px;
    font-size: 16px;
    background-color: #2C1A38;
    border: 1px solid black;
    border-radius: 10px;
    margin: 0 20px 20px 20px;
    padding: 8px;
    box-sizing: border-box;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
    text-align: center;
    color: white;
}
.upgrade_section{
    padding: 5px;
    text-align: center;
    color: #D4AF37;
    border-radius: 10px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
    border: 1px solid black;
    margin-bottom: 10px;
    background-color: #1A1124;
}
#speed_upgrade_button, #stealth_upgrade_button{
    padding: 4px 8px;
    font-size: 14px;
    background-color: #E32C2C;
    color: lightgray;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
#speed_upgrade_button:hover:not(.ghosted), #stealth_upgrade_button:hover:not(.ghosted) {
    background-color: #E32C2C;
}
#speed_upgrade_button.ghosted, #speed_upgrade_button.maxed,
#stealth_upgrade_button.ghosted, #stealth_upgrade_button.maxed {
    opacity: 0.5;
    cursor: not-allowed;
    background-color: #C22525;
}

/* Ninjas */
.ninjas_box{
    width: 600px;
    height: 840px;
    font-size: 20px;
    background-color: #2C1A38;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
    text-align: center;
    color: white;
}
.ninja_section{
    width: calc(50% - 10px);
    padding: 10px;
    text-align: center;
    color: #D4AF37;
    border-radius: 10px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
    border: 1px solid black;
    margin-bottom: 20px;
    background-color: #1A1124;
    box-sizing: border-box;
}
.ninja_grid{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}
.ninja_png{
    width: 150px;
    height: 150px;
}
.ninja_button {
    padding: 8px 16px;
    background-color: #E32C2C;
    color: lightgray;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.ninja_button.ghosted {
    opacity: 0.5;
    cursor: not-allowed;
    background-color: #C22525;
}
.ninja_button:hover:not(.ghosted) {
    background-color: #E32C2C;
}

/* Tiers */
.prestige_section{
    flex: 0 0 calc(50% - 5px);
    width: 200px;
    height: auto;
    padding: 10px;
    text-align: center;
    font-size: 15px;
    color: #D4AF37;
    border-radius: 10px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
    border: 1px solid black;
    margin-bottom: 10px;
    background-color: #1A1124;
    box-sizing: border-box;
}
#progressText{
    text-align: center;
    color: lightgray;
    font-size: 18px;
}
.tiers{
    margin-top: 10px;
    width: 100%;
    color: lightgray;
}
.tiers-grid{
    display: grid;
    grid-template-columns: repeat(2, 200px);
    grid-gap: 10px;
    gap: 8px;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    font-size: 12px;
}
.tiers-grid .prestige_section:nth-child(5) {
    grid-column: 1 / -1;
    width: 200px;
    margin: 10px auto 0 auto;
    gap: 8px;
}
#tier1Button, #tier2Button, #tier3Button, #tier4Button, #tier5Button{
    background-color: #E32C2C;
    color: lightgray;
    border: none;
    padding: 4px 8px;
    margin: 5px;
    cursor: pointer;
    border-radius: 3px;
}
#prestigeButton.maxed, #tier1Button.ghosted, #tier1Button.maxed,
#tier2Button.ghosted, #tier2Button.maxed, #tier3Button.ghosted, #tier3Button.maxed,
#tier4Button.ghosted, #tier4Button.maxed, #tier5Button.ghosted, #tier5Button.maxed {
    opacity: 0.5;
    cursor: not-allowed;
    background-color: #C22525;
}
#tier1Button:hover:not(.ghosted), #tier2Button:hover:not(.ghosted),
#tier3Button:hover:not(.ghosted), #tier4Button:hover:not(.ghosted), #tier5Button:hover:not(.ghosted){
    background-color: #E32C2C;
}
#progressBox{
    width: 100%;
    height: 20px;
    background-color: #2C1A38;
    border-radius: 3px;
    overflow: hidden;
    margin: 10px 0;
}
#progressBar{
    height: 100%;
    background-color: #E32C2C;
    border: 1px solid black;
    width: 0;
    transition: width 0.3s ease;
}

/* Media for Mobile Devices */
@media (max-width: 768px){
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .box, .upgrades_box, .ninjas_box, .phantoms_box, .tiers-box{
        width: 100%;
        max-width: 400px;
        margin: 10px auto;
        position: static;
        transform: none;
        height: auto;
    }
    .resources-section {
        position: static;
        transform: none;
        display: block;
    }
    .tiers-grid {
        max-width: 100%;
        width: 100%;
        display: block;
    }
    h1{
        font-size: 24px;
    }
    .altText, #progressText{
        font-size: 14px;
    }
    button, .ninja_button, #speed_upgrade_button, #stealth_upgrade_button,
    #tier1Button, #tier2Button, #tier3Button, #tier4Button, #tier5Button {
        padding: 6px 12px;
        font-size: 13px;
    }
    .ninja_section, .upgrade_section, .resources-section {
        width: 100%;
        max-width: 250px;
        padding: 8px;
        margin: 10px auto;
        position: static;
    }
    .ninja_section{
        /* Stacking ninjas vertically on mobile */
        flex: 1 1 100%;
    }
    .prestige_section{
        /* Stacking tiers vertically on mobile */
        flex: 1 1 100%;
        max-width: 250px;
        display: block;
        margin: 0 auto 10px auto;
    }
    .ninja_png{
        width: 100px;
        height: 100px;
    }
}